<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Node.js All Versions</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Node.js version release timeline" />
        <meta name="keywords" content="Node.js version release timeline, download, all version" />
        <meta name="author" content="Pana Wang" />
        <link rel="shortcut icon" href="./img/favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css' />
		<!--[if lt IE 9]>
				<link rel="stylesheet" type="text/css" href="css/styleIE.css" />
		<![endif]-->
		<script type="text/javascript" src="js/modernizr.custom.11333.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <center><img src="./img/node1000.png" width=100></center>
            </div>            
            <div id="ss-container" class="ss-container">
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 id="november">November</h2>
                    </div>
                    <div class="ss-right">
                        <h2>2013</h2>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <center><img src="./img/rednode-text-logo-star.png"></center>
        </footer>
        <script type="text/template" id='template'>
            <% for(var i in data){ %>
                <% var item = data[i]%>
                <% var imgSize = ['ss-small', 'ss-medium', 'ss-large'] %>
                <% var imgClass = imgSize[i%3] %>
                <% var pi = i % 25 + 1 %>
                <% if(i%2===0){%>
                    <div class="ss-row <%= imgClass %>">
                        <div class="ss-left">
                            <a href="" class="ss-circle ss-circle-<%=pi%>">Draggable Image Boxes Grid</a>
                        </div>
                        <div class="ss-right">
                            <h3>
                                <span><%= item.date %></span>
                                <a href="https://github.com/joyent/node/archive/<%=item.version%>.tar.gz"><%= item.version %></a>
                            </h3>
                        </div>
                    </div>
                <%}else{%>
                    <div class="ss-row <%= imgClass %>">
                        <div class="ss-left">
                            <h3>
                                <span><%= item.date %></span>
                                <a href="https://github.com/joyent/node/archive/<%=item.version%>.tar.gz"><%= item.version %></a>
                            </h3>
                        </div>
                        <div class="ss-right">
                            <a href="" class="ss-circle ss-circle-<%=pi%>">Draggable Image Boxes Grid</a>
                        </div>
                    </div>
                <%}%>
            <%}%>
        </script>
        <script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="./js/ejs.min.js"></script>
		<script type="text/javascript" src="./js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="./js/node-versions.js"></script>
        <script type="text/javascript" src="./js/render.js"></script>

		<!--<script type="text/javascript" src='./js/effect2.js'></script>-->
    </body>
</html>